<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="/fontawesome/fontawesome.js"></script>
  <script src="/fontawesome/solid.js"></script>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/productSection.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  <%- include('partials/header') -%>
  <section>
    <div class="products-nav">
      <div class="products-nav-item first-item">
        <a href="" class="button create">+ Add Product</a>
      </div>
      <div class="products-nav-item second-item">
        <h2>Admin</h2>
      </div>
      <div class="products-nav-item">
        <input type="text" id="search-input" onkeyup="searchProducts()" placeholder="Search Products">
      </div>
    </div>
    <div class="product-container">
      <% if(products.length> 0){ %>
      <% products.forEach(product=> { %>
      <form class="product-form" action="/admin/updateProduct">
        <div class="product">
          <img id="output<%= product._id %>" class="image" src="<%= product.img %>" onclick="changeImage('<%= product._id %>')">
          <input type="file" name="image" class="hidden" id="image<%= product._id %>" accept="image/png, image/jpeg" onchange="previewFile(this, '<%= product._id %>');">
          <label for="name<%= product._id %>">Name:</label>
          <input type="text" name="name" id="name<%= product._id %>" class="product-name" value="<%= product.name %>">
          <label for="price<%= product._id %>">Price:</label>
          <input type="currency" name="price" id="price<%= product._id %>" value="<%= product.price %>">
          <div class="featured">
            <label for="featured<%= product._id %>">Featured:</label>
            <input type="checkbox" name="featured" id="featured<%= product._id %>" <%=product.featured ? "checked" : "" %>>
          </div>
          <label for="description<%= product._id %>">Description:</label>
          <textarea name="description" id="description<%= product._id %>" rows="3"><%= product.description %></textarea>
          <div class="button-container">
            <a data-id="<%= product._id %>" class="button save">Save</a>
            <a data-id="<%= product._id %>" class="button delete">Delete</a>
          </div>
        </div>
      </form>
      <% }) %>
      <% }else{ %>
      <div class="no-product">
        <h4>No Products Available</h4>
      </div>
      <% } %>
    </div>
  </section>
  <%- include('partials/footer') -%>
  <script src="/js/search.js"></script>
  <script src="/js/admin.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>