<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="/fontawesome/fontawesome.js"></script>
  <script src="/fontawesome/solid.js"></script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  <script src="/js/productpage.js" defer></script>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/productSection.css">
  <link rel="stylesheet" href="/css/productPage.css">
</head>

<body>
  <%- include('partials/header') -%>
  <section>
    <div class="product-container">
      <% if(product){ %>
      <img class="product-page-image" src="<%= product.img %>">
      <section class="product-info">
        <h2>
          <%= product.name %>
        </h2>
        <span class="price">
          <%= product.price %>
        </span>
        <p>
          <%= product.description %>
        </p>
        <span class="button pay-overlay-button" onclick="paymentOverlay()">Buy Now</span>
        <div id="payment-overlay">
          <form id="payment-form" class="overlay-form overlay-content" data-id="<%= product._id %>">
            <h2>Payment</h2>

            <span class="payment-info">
              <%= product.name %>: <%= product.price %>
            </span>
            <div class="close-overlay" onclick="hideOverlay('payment-overlay')">
              <i class="fa-solid fa-xmark overlay-icon"></i>
            </div>
            <div id="link-authentication-element">
            </div>
            <div id="payment-element">
            </div>
            <button id="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
          </form>
        </div>
      </section>
      <% }else{ %>
      <h2>This Product Doesn't Exist</h2>
      <% } %>
    </div>
  </section>
  <%- include('partials/footer') -%>
  <script src="/js/main.js"></script>
</body>

</html>